<div class="card" style="margin-bottom:10px;">
    <div class="media bg-light todayMonth" style="box-shadow: none;">  
        <div class="media-body"> 
            <div class="row">
                <div class="col-xs-4 text-center">
                    Supplier Variations
                </div>
                <div class="col-xs-4 text-center">
                    Production Variations
                </div>
                <div class="col-xs-4 text-center">
                    Customer Variations
                </div>
            </div>
        </div>
    </div>
</div>

