<div class="col-xs-4">
    <div class="card" style="margin-bottom:10px;">
        <div class="media bg-light" style="box-shadow: none;">  
            <div class="media-body">  
                <h2 style="margin:5px;" class="text-center">
                    {^{if is_purchases}} 
                        PURCHASES
                        <div id="containerChartPiePurchases"></div>
                    {{else is_sales}}
                        SALES
                        <div id="containerChartPieSales"></div> 
                    {{else is_repair}}
                        REPAIRS
                        <div id="containerChartPieRepairs"></div> 
                    {{/if}} 
                </h2>  
                <div class="col-xs-4">
                    <h5 class="text-center">Today</h5>
                    <h5 class="text-center">This Month</h5>
                </div>
                <div class="col-xs-4">
                    <h5 class="text-center">pallets: {^{:today.qty}}</h5>
                    <h5 class="text-center">pallets: {^{:this_month.qty}}</h5>
                </div>
                {^{if !is_repair}}
                    <div class="col-xs-4">
                        <h5 class="text-center">${^{:today.revenue}}</h5>
                        <h5 class="text-center">${^{:this_month.revenue}}</h5>
                    </div>
                {{/if}}
            </div>
        </div> 
    </div>
</div>