<tr data-link="class{merge:is_new == '1' toggle='bg-info'}">
    <td width="1">
        {^{if overdue}}
           <span class="far fa-2x fa-frown-open text-danger"></span>
        {{else days_diff_positive == 0}}
            <span class="far fa-2x fa-meh text-info"></span>
        {{else}}
            <span class="far fa-2x fa-grin-beam text-success"></span>
        {{/if}}
    </td>
    <td width="1">
        {^{if overdue}}
            <span class="text-danger" style="font-size:1.9em">-<span data-link="days_diff_positive"></span></span>
        {{else days_diff_positive == 0}}
            <span class="text-info" style="font-size:1.9em">0</span>
        {{else}}
            <span class="text-success" style="font-size:1.9em">+<span data-link="days_diff_positive"></span></span>
        {{/if}}
    </td>
    <td>
        <h3 style="margin:0;">{^{:contact_name}}</h3>
        {^{if public_notes.length > 0}} 
                {^{:public_notes}}  
        {{/if}} 
    </td>
    <td width="1">
        <h3 style="margin:0;" class="text-right">{^{quantity_formatter:sum}}</h3>  
    </td>
</tr>