html,body,table{
    font-size: 24px;
}
#app{
    padding:20px 30!important;
}
.padded-top-1x{
    padding-top:15px;
}

.padded-top-2x{
    padding-top:25px;
}

.padded-top-3x{
    padding-top:35px;
}

.padded-all-1x{
    padding:15px;
}
.padded-all-2x{
    padding:25px;
}
.padded-all-3x{
    padding:35px;
}
.bordered{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
}